<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Theme style -->
    <link href="~/css/_MyLayout.css" rel="stylesheet" />

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                @RenderSection("HeadNav", false)
                <h1 class="text-center">ITI Project</h1>
            </ul>

            <!-- SEARCH FORM -->
            


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">


            <!-- Sidebar -->
            <div class="sidebar">
                <div>
                    <a href="index3.html" class="">
                        <img src="~/images/Logo.png"  class=" img-fluid" style="opacity: .8" />
                    </a>
                </div>


                <!-- Sidebar Menu -->
                <ul class="nav flex-column mt-2">
                    <li class="nav-item">
                        @*<a href="/Students/Index" class="nav-link">Students</a>*@
                        <a asp-action="Index" asp-controller="Students" class="nav-link">Students</a>

                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Departments" class="nav-link">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Courses" class="nav-link">Courses</a>
                    </li>

                </ul>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
              
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
