@model List< Lec1.Models.Course>

@{
    ViewData["Title"] = "AddCourse";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2 class="text-center text-danger">AddCourse to  @ViewBag.Dept.Name</h2>


        <form asp-action="AddCourse" method="post">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th> Course Name </th>
                        <th> Operation </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Name) </td>
                            <td>@Html.CheckBox($@"crs.{item.Id}")</td>
                        </tr>
                    }
                </tbody>

            </table>
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary p-2" />
                <a asp-action="Index" class="btn btn-dark p-2">Back to List</a>
            </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
